<h1>Lista de clientes</h1>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Direccion</th>
      <th>Password</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.apellido_paterno %></td>
        <td><%= cliente.apellido_materno %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.password %></td>
        <td><%= cliente.email %></td>
        <td><%= link_to 'Ver', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Borrar', cliente, method: :delete, data: { confirm: 'Esta usted seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo Cliente', new_cliente_path, class: 'btn btn-primary center-block', method: :get %>
