<h1>Lista de generos</h1>

<% @generos.in_groups_of(3, false) do |gg| %>
	<div class="row">
		<% gg.each do |g| %>
			<div class="col-sm-4">
				<h3 class="text-center text-primary"><%= g.nombre %></h3>
				<%= image_tag g.imagen, class: 'img-catalogo center-block'%>
				<p class="text-center margin-10"><%= g.descripcion%></p>
				<div class="text-center">
					<%= link_to "Ver discos de este genero", discos_por_genero_path(g), class: 'btn btn-primary btn-sm' %>
					<%= link_to 'Editar', edit_genero_path(g), class: 'btn btn-default btn-sm' %>
					<%= link_to 'Borrar', g, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger btn-sm' %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>