<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @costumer.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @costumer.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @costumer.apellido_materno %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @costumer.direccion %>
</p>

<p>
  <strong>Password:</strong>
  <%= @costumer.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @costumer.email %>
</p>

<%= link_to 'Edit', edit_costumer_path(@costumer) %> |
<%= link_to 'Back', costumers_path %>
