<h1>Lista de discograficas</h1>

<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discograficas.each do |discografica| %>
      <tr>
        <td><%= discografica.nombre %></td>
        <td><%= discografica.descripcion %></td>
        <td><%= link_to 'Ver', discografica %></td>
        <td><%= link_to 'Editar', edit_discografica_path(discografica) %></td>
        <td><%= link_to 'Borrar', discografica, method: :delete, data: { confirm: 'Esta usted Seguro' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nueva Discografica', new_discografica_path, class: 'btn btn-primary center-block', method: :get  %>
