<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @discografica.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @discografica.descripcion %>
</p>

<%= link_to 'Editar', edit_discografica_path(@discografica) %> |
<%= link_to 'Atrás', discograficas_path %>
