<h1>Lista de artistas</h1>

<% @artistas.each do |a| %>
	<div class="media">
		<div class="media-left media-middle">
			<%= link_to a do %>
				<%= image_tag a.imagen, class: 'img-artista' %>
			<% end %>
		</div>
		<div class="media-body">
			<h3 class="text-primary media-heading"><%= a.nombre %></h3>
			<b>Fecha de origen: </b><%= a.fecha_origen.strftime("%d/%m/%Y") %><br />
			<p><%= a.descripcion %></p>
			<div class="text-center">
				<%= link_to 'Editar', edit_artista_path(a), class: 'btn btn-default' %>
				<%= link_to 'Borrar', a, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %>
			</div>
		</div>
	</div>
<% end %>
<hr />
<div class="text-center">
	<%= link_to "Agregar artista", new_artista_path, class: 'btn btn-primary'%>
</div>
