<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @artista.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @artista.descripcion %>
</p>

<p>
  <strong>Fecha origen:</strong>
  <%= @artista.fecha_origen %>
</p>

<p>
  <strong>Web:</strong>
  <%= @artista.web %>
</p>

<%= link_to 'Editar', edit_artista_path(@artista) %> |
<%= link_to 'Atrás', artistas_path %>
