<h1>Listing cancions</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Duracion</th>
      <th>Precio</th>
      <th>Disco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cancions.each do |cancion| %>
      <tr>
        <td><%= cancion.nombre %></td>
        <td><%= cancion.duracion %></td>
        <td><%= cancion.precio %></td>
        <td><%= cancion.disco %></td>
        <td><%= link_to 'Show', cancion %></td>
        <td><%= link_to 'Edit', edit_cancion_path(cancion) %></td>
        <td><%= link_to 'Destroy', cancion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cancion', new_cancion_path %>
