<%= form_for(@cancion) do |f| %>
  <% if @cancion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cancion.errors.count, "error") %> prohibited this cancion from being saved:</h2>

      <ul>
      <% @cancion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :duracion %><br>
    <%= f.number_field :duracion %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :reference %><br>
    <%= f.text_field :reference %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
