<h1>Lista de canciones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Duracion</th>
      <th>Precio</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canciones.each do |cancion| %>
      <tr>
        <td><%= cancion.nombre %></td>
        <td><%= cancion.duracion %></td>
        <td><%= cancion.precio %></td>
        <td><%= cancion.reference %></td>
        <td><%= link_to 'Ver', cancion %></td>
        <td><%= link_to 'Editar', edit_cancion_path(cancion) %></td>
        <td><%= link_to 'Borrar', cancion, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nueva Canción', new_cancion_path, class: 'btn btn-primary center-block', method: :get %>
