<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cancion.nombre %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @cancion.duracion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @cancion.precio %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @cancion.reference %>
</p>

<%= link_to 'Edit', edit_cancion_path(@cancion) %> |
<%= link_to 'Back', canciones_path %>
