<h1 class="text-primary">
	Lista de discos<br />
</h1>
<div class="page-header">
	<h3>Buscar por géneros</h3>
	<ul class="nav nav-pills">
		<% @generos.each do |g| %>
			<li role="presentation" class="<%= @genero == g ? "active" : nil %>"><%= link_to g.nombre, discos_por_genero_path(g) %></li>
		<% end %>
	</ul>
</div>
<div class="page-header">
	<h3 class="text-center"><%= @genero.nombre %></h3>
	<%= image_tag @genero.imagen, class: 'portada center-block'%>
	<p class="lead"><%= @genero.descripcion %></p>
</div>
<h2 class="page-header">
	Discos del género <%= @genero.nombre %>
</h2>
<%  @discos.in_groups_of(4, false) do |dg| %>
	<div class="row" style="height: 200px">

		<% dg.each do |d|%>
		<div class="col-sm-3">

			<h4 class="text-center"><%= d.nombre  %></h4>
			<div class="flip-container flip-container-canciones center-block">
				<%= link_to d do %>
					<div class="flipper">
						<div class=" text-center front">
							<%= image_tag d.portada_delantera, class: 'img-responsive img-catalogo' %>
						</div>
						<div class="text-center back">
							<%= image_tag d.portada_trasera, class: 'img-responsive img-catalogo' %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<% end %>

	</div>
<% end %>
