<div class="text-center">
	<%= image_tag @disco.portada_delantera, class: 'portada' %>
	<h1><%= @disco.nombre %>
		<br /><small><%= link_to @disco.artista.nombre, @disco.artista %></small>
	</h1>
</div>
<div class="page-header">
	<h2>Canciones</h2>
</div>
<table class="table table-hover table-striped">
	<tr>
		<th>Canciones</th>
		<th>Artista</th>
		<th class="text-center">Duración</th>
	</tr>
	<% @canciones.each do |c| %>
		<tr>
			<td><%= c.nombre %></td>
			<td><%= link_to c.disco.artista.nombre, c.disco.artista %></td>
			<td class="text-center"><%= mostrar_duracion(c.duracion) %></td>
		</tr>
	<% end %>
</table>
