<h1>Listing ventas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descuento</th>
      <th>Cliente</th>
      <th>Disco</th>
      <th>Cancion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventas.each do |venta| %>
      <tr>
        <td><%= venta.fecha %></td>
        <td><%= venta.descuento %></td>
        <td><%= venta.cliente %></td>
        <td><%= venta.disco %></td>
        <td><%= venta.cancion %></td>
        <td><%= link_to 'Show', venta %></td>
        <td><%= link_to 'Edit', edit_venta_path(venta) %></td>
        <td><%= link_to 'Destroy', venta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venta', new_venta_path %>
