<h2>Editar mi cuenta</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
	<div class="container" style="max-width: 40%">
	  <div class="field">
	    <%= f.name_field :nombre, autofocus: true, label:"Nombre" %>
	  </div>
	  
	  <div class="field">
	    <%= f.direccion_field :direccion, autofocus: true, label:"Direccion" %>
	  </div>
	  
	  <div class="field">
	    <%= f.codigo_postal_field :codigo_postal, autofocus: true, label:"Codigo postal" %>
	  </div>
		
	  <div class="field">
	    <%= f.email_field :email, autofocus: true, label:"Correo" %>
	  </div>
	
	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Esperando confirmación para: <%= resource.unconfirmed_email %></div>
	  <% end %>
	
	  <div class="field">
	    <%= f.password_field :password, autocomplete: "off", label:"Contraseña" %>
	  </div>
	
	  <div class="field">
	    <%= f.password_field :password_confirmation, autocomplete: "off", label:"Confirma tu contraseña" %>
	  </div>
	
	  <div class="field">
	    <%= f.password_field :current_password, autocomplete: "off", label:"Confirma tu contraseña"%>
	  </div>
	
	  <div class="actions text-center">
	    <%= f.submit "Actualizar", class:"btn btn-primary" %>
	  </div>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿Insatisfecho? <%= button_to "Cancela mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class:"btn" %></p>

<%= link_to "Regresar", :back %>
